.chawewo__footer {
    height: 100px;
    width: auto;
}
.chawewo__footer-content {
    justify-content: center;
    align-items: center;
    display: flex;

}
.chawewo__footer-content h5 {
    font-family: 'Bogota';
    font-weight: bold;
    
}
.chawewo__footer-text {
    backdrop-filter: blur(3px); /* Add a blur effect to the background */
    background-color: rgba(255, 255, 255, 0.1);
}