.chawewo__whoChawewo{
    display:flex;
    flex-direction: column;
    padding: 0rem;
    background: #191919;
    border-radius: 12px 12px 12px 12px;

}
.chawewo__whoChawewo-feature{
    display:flex;
}
.chawewo__whoChawewo .chawewo__features-container__feature{
    margin: 0;
}
.chawewo__whoChawewo .chawewo__features-container__feature-text{
    max-width: 700px;
}
.chawewo__whoChawewo-heading{
    display: flex;
    flex-direction: none;
    margin: 4rem 0 3rem;
    
}
.chawewo__whoChawewo-heading h1 {
    font-family: 'Recoleta';
    max-width: 200px;
    /*
    align-items: center;
    justify-content: space-between;

    font-weight: Bold;
    max-width: 500px;
    font-size: 34px;
*/
}