/* Project.css */
.project-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

.project-image {
  background-position: 30% center;
  flex: 1;
  border-radius: 0px 40px 40px 0px;
  height: 60vw; /* Adjust the image height as needed */
  background-attachment: fixed;
}

.project-details {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);

}

.project-details a {
  font-size: 24px;
  font-family: 'Inter';
   
}

.project-details p {
  margin-top: 10px;
}

.project-details button {
  background-color: #2a2929;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.project-details button:hover {
  background-color: #707172;
}
@media (max-width: 1920px) {
  .project-image {
    background-position: 260% center;
  }
}

@media (max-width: 1280px){
  
.project-image {
  background-position: 60% center;
  height: 50vw;
}
}
@media (max-width: 769px) {
.project-image {
    background-position: 63% center;
    height: 60vw;
    background-size: 50%;
  }
}
@media (max-width: 375px) {
  .project-image {
    background-position: 55% center;
    background-size: 30%;
    height: 50vw;
  }
}
