.project-container {
  position: relative;
  margin-bottom: 20px;
}

.project {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 300px;
  filter: brightness(0.7) blur(2px);
}

.project-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent black */
}
.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.project-description-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* 
.projects {
  position: relative;
  padding: 2em 0;
  list-style-type: none;
}

.projects:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #000;
}

.project {
  position: relative;
  margin-bottom: 2em;
  padding-left: 50px;
  padding-right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background: #ccc; 
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  border: 2px solid #fff; 
}

.project:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.24), 0 5px 15px rgba(0,0,0,0.19); 
}
.project img {
  width: 100%;
  height: auto;
}

.project h2 {
  display: none;
}

.project p {
  display: none;
}

.project.project-selected {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw; 
  height: 70vh; 
  padding: 2em;
  border-radius: 20px; 
  background: #fff;
  overflow: auto;
  z-index: 9999;
}

.project.project-selected img {
  display: none;
}

.project.project-selected h2 {
  display: block;
}

.project.project-selected p {
  display: block;
}

.close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
*/