.chawewo__who{
  flex-direction: column;
  align-items: center;
  overflow:hidden;

}

.chawewo__who-content h1 {
  display: flex;
  z-index: -1;
  align-items: center;
  justify-content: center;
  font-family: 'Recoleta';
  font-weight: 1000;
  line-height: 15;
  font-size: 40px;
  width: auto;
  height: 60px;
}
.chawewo__who-content h5 {
  align-items: center;
  justify-content: center;
  display:left;
  width: 600px;
  font-size:larger;
  font-family: 'Recoleta';
  
    font-size: 20px;
}
/*
@keyframes moving {
  from {
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-18px);
  }
  
} */
.chawewo__who img {
  max-width: 35%;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: translate(350px,-570px);
  margin-block-end: -500px;
  object-fit: cover;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  scale: 150%;
  transform: translateY(0rem);
  animation: fadeInUp 4s ease 1s forwards;
}
.fade {
  opacity:0;
  animation: fade-in 5s ease 4s forwards;
}

@keyframes fade-in {
  to {
    opacity:1 ;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-18px); /* Move up by 18px */
  }
}

@media screen and (max-width: 1024px){
  .chawewo__who {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .chawewo__who h1 {
    
    font-size: 40px;
    width: auto;
    height: 100px;
    
  }
  .chawewo__who h5 {
    
    font-size: 25px;
    width: auto;
    height: auto;
    padding: 2rem;
    transform: translateY(-10px);
  }
  .chawewo__who img {
    padding-top: 1rem;
    max-width: 80%;
    height: auto;
    display: table;
    margin: 0 auto;
    transform:none
  }
}
@media screen and (max-width: 700px){
  .chawewo__who {
    display: flex;
    flex-direction: column;
  }
  .chawewo__who h1 {
    
    font-size: 5.5vw;
    width: auto;
    height: 50px;
  }
  .chawewo__who h5 {
    
    font-size: 25px;
    width: auto;
    height: auto;
    transform: translateY(0px);
    padding: 0 0;
  }
  .chawewo__who img {
    padding-top: 1rem;
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    transform:none
  }
}
@media screen and (max-width: 550px){
  .chawewo__who {
    justify-content: center;
    display: flex;
    width: auto;
    
  }
  .chawewo__who h1  {
    
    display:flex;
    width: auto;
    font-size: 5.5vw;
    margin: auto;
    height: 40px;
  }
  .chawewo__who h5 {
    
    font-size: 25px;
    display:flex; 
    width: auto;
    height: auto;
    transform: translateY(10px);
    padding: 0 0;
  }
  .chawewo__who img {
    padding-top: 1rem;
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    transform:none
  }
}
@media screen and (max-width: 400px)
{
  .chawewo__who h1  {
    
    display:flex;
    font-size: normal;
    width: auto;
    font-size: 5.5vw;
    margin: auto;
    height: 40px;
  }
  .chawewo__who img {
    padding-top: 1rem;
    max-width: 100%;
    height: auto;
    display: table;
    margin: 0 auto;
    transform:none
  }
}