@font-face {
  font-family: 'Bogart';
  src: url('fonts/Bogart.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('fonts/Recoleta.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Knewave';
  src: url('fonts/Knewave.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family: 'Knewave', 'Bogart', Cursive;
  --gradient-text: linear-gradient(89.97deg, #ff2306 1.84%, #ff5601 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg:  hsl(180, 8%, 3%);
  --color-footer : hsl(180, 10%, 4%);
  --color-blog: hsl(210, 8%, 10%);
  --color-text: #ffffff;
  --color-subtext: #FF8A71;
  --bg-color: black;
  --typewriterSpeed: 2s;
  --typewriterCharacters: 18;
}