*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/*
Maybe have a changelog that states the days on where things change
*/
body {
    background: var(--color-bg)
}
a {
    color: unset;
    text-decoration: none;
    -webkit-text-stroke: 1px #000000;
}
.gradient__bg{
/* Absolute makes sure that the black stays with the header */

background-color: 'black';
  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);


 }
.gradient__text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding{
    padding: 4rem 6rem;
}
.section__margin{
    margin: 4rem 6rem;
}
/*
.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  */
  .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
.fade-in-main{
  -webkit-animation: fade-in 4.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 4.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}
 @-webkit-keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px)
  {
    .section__padding{
      padding: 2rem;
    }
    .section__margin{
      padding:0% 2rem;
    }
  }

  @media screen and (max-width: 700px){
    .section__padding {
    padding: 4rem;
    }
    .section__margin {
        padding: 4rem;
        }
  }
  @media screen and (max-width: 550px){
    .section__padding {
    padding: 4rem 2rem;
    }
    .section__margin {
        padding: 4rem 2rem;
        }
  }
