.chawewo__header {
    display: flex;
    flex-direction: row;
    background:  rgb(6, 7, 7);
}
.chawewo__header h1 {
    width: 400px;
    justify-content: center;
    align-items: center;
}
.chawewo__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-right: 0rem;
}
.chawewo__header-content h1 {
    font-family: var(--font-family);
    font-weight: 10;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.00rem;
}
.chawewo__header-content p {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text);
    letter-spacing: .05rem;
    margin-top: 1rem;
}
.chawewo__header-content__input {
    width: 100%;
    margin: 3rem 0 1rem;
    display: flex;
    flex-direction: row;
    
}
.chawewo__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: 'Recoleta';
    font-size: 20px;
    line-height: 27px;
    background: rgb(10, 12, 12);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    color: #fff;
}
.chawewo__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;

    background: #edd8d4;
    border-radius: 12px 12px 12px 12px;
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px
    color #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0 0rem;

}

.chawewo__header-footer {
    justify-content: center;
    align-items: center;
    font-family: 'Bogart';
    color: white;
    font-size: 100%;
}
.chawewo__header-footer a {
    margin: 10px;
}

/*
style={{fontFamily: "Bogart", color: "white", fontSize: "100%"}}
*/
.chawewo__header-footer img {
    max-width: 10%;
    width: auto;
    max-height: 100px;
    height: auto;
    object-fit: contain;
    min-width: 15%;
}

@media screen and (max-width: 550px) {
    .chawewo__header-footer a {
        margin:5px;
    }
    .chawewo__header-footer  {
        font-size: 75%;
    }
}