.chawewo__footer {
    border: 1px solid #191919;
    color: #000000;
    height: 100px;
    width: auto;
}
.chawewo__footer-content {
    justify-content: center;
    align-items: center;
    display: flex;

}
.chawewo__footer-content h5 {
    font-family: 'Bogota';
    font-weight: bold;
}